{% extends "base/base.html" %}

{% block title %}test{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1><span class="fa fa-shopping-basket"></span>  カート内の商品</h1>
    <table class="table table-condensed table-hover">
      <tr>
          <th>商品番号</th>
          <th>商品名</th>
          <th>価格</th>
          <th>個数</th>
      </tr>
      {% for product in products %}
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td></td>
          </tr>
      {% endfor %}
    </table>
    <hr />
    <div class="row">
      <div class="col-sm-12 text-right">
        <p>
          <strong><span class="fa fa-jpy"></span>{{total}} 円</strong>
        </p>
      </div>
    </div>

    <h1><span class="fa fa-user"></span>  お客様情報の入力</h1>
    <form action="../order_execute/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>お名前 (姓)</th>
            <td><input name="last_name" class="form-control" type="text" id="last_name" size="50" value="{{customer.last_name}}"></td>
            <th>(名)</th>
            <td><input name="first_name" class="form-control" type="text" id="first_name" size="50" value="{{customer.first_name}}"></td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td><input name="postal_code" class="form-control" type="text" id="postal_code" size="50" value="{{customer.postal_code}}"></td>
        </tr>
        <tr>
            <th>都道府県</th>
            <td><input name="prefecture" class="form-control" type="text" id="prefecture" size="50" value="{{customer.prefecture}}"></td>
        </tr>
        <tr>
            <th>市区町村</th>
            <td><input name="city" class="form-control" type="text" id="city" size="50" value="{{customer.city}}"></td>
        </tr>
        <tr>
            <th>番地など</th>
            <td><input name="street1" class="form-control" type="text" id="street1" size="50" value="{{customer.street1}}"></td>
        </tr>
        <tr>
            <th>建物名など</th>
            <td><input name="street2" class="form-control" type="text" id="street2" size="50" value="{{customer.street2}}"></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><input name="tel" class="form-control" type="text" id="tel" size="50" value="{{customer.tel}}"></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><input name="email" class="form-control" type="text" id="email" size="50" value="{{customer.email}}"></td>
        </tr>
        <tr>
            <th>決済方法</th>
            <td>
            {% for payment in payments %}
                <input type="radio" name="payment" id="payment_name-{{ payment.id }}" value="{{ payment.id }}" />
                <label for="payment_name-{{ payment.id }}">{{ payment.name }}</label><br />
            {% endfor %}
            </td>
        </tr>
    </table>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-4">
        <input type="submit" class="btn btn-info btn-block" value="確定" />
      </div>
      <div class="col-sm-2 col-sm-offset-1">
        <a href="#" class="btn btn-warning btn-block" onClick="history.back();">戻る</a>
      </div>
    </div>

    </form>
  </div>
</div>

{% endblock %}
